<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/BancoPLBSoft</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">admin</property>
		
		<mapping class="modelo.Especie"/>
		<mapping class="modelo.TipoTanque"/>
		<mapping class="modelo.SistemaProducao"/>
		<mapping class="modelo.Tanque"/>
		<mapping class="modelo.TanqueRede"/>
		<mapping class="modelo.Adubacao"/>
		<mapping class="modelo.Passarela"/>
		<mapping class="modelo.Hapa"/>
		<mapping class="modelo.Safra"/>
		

	</session-factory>
</hibernate-configuration>